<div class="card" style="width: 216px; margin: 1px;">
                            <a href="#" class="card-img-top">
                                <img width="210" height="297" src="/static/1.png" alt="#" class="rounded card-img-top"/>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    lorem ipsum </h5>
                                <p class="card-text">
                                    &nbsp; </p>
                            </div>
                        </div>