# litestar
litestar
uvicorn
uvloop

# render
Jinja2

# postgresql
asyncpg
psycopg2-binary
alembic
SQLAlchemy
SQLAlchemy-JSONField==1.0.1.post0
sqlalchemy-stubs

# metrics / telemetry
aioprometheus
elastic-apm

# tox
tox

# pytest
pylint==2.17.4
pytest==7.3.2
pytest-asyncio==0.21.0
pytest-cov==4.1.0
pytest-mock==3.11.1
factory-boy==3.3.0

# linters
isort
mypy
mypy-extensions
pylint
ruff

# ???
httpx
ujson
dependency-injector

# mappers / validators / data structures
pydantic-settings

